	@keyframes example {
    		from {color: red;
    	  	font-size: 40px;}
    		to {color: yellow;
    		font-size:60px;
    		font-weight:bold;}
			}
			#title{
				text-align: center;
				animation-name: example;
    			animation-duration: 2s;
    			animation-iteration-count: 1000;
			}
			.char7:hover{
				font-size:300%;
			}
			.char8:hover{
				font-size:300%;
			}
			#search{
				font-size:50px;
			}
			.char1{
				color:red;
			}
			.char1:hover{
			 	font-size:300%;

			}
			.char2{
				color:blue;
			}
			.char2:hover{
			 	font-size:300%;
			}
			.char3{
				color:orange;
			}
			.char3:hover{
			 	font-size:300%;
			}
			.char4{
				color:green;
			}
			.char4:hover{
			 	font-size:300%;
			}
			.char5{
				color:purple;
			}
			.char5:hover{
			 	font-size:300%;
			}
			.char6{
				color:black;
			}
			.char6:hover{
				font-size:300%;
			}